[package]
name = "codex-utils-stream-parser"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dev-dependencies]
pretty_assertions = { workspace = true }
